.header-header {
    margin-top:40px;
    height: 60px;
    position: relative;
    z-index: 10;
}
.header-logo {
    position: fixed;
    top: 36px;
    transition: top 1.2s ease-in-out;
}

@media screen and (max-width: 1122px){
    .header-container {
        margin-top: 72px;
    }
    .header-logo {
        top: 0px;
    }
}

.header-container {
    display: flex;
    justify-content: space-between;
    
}

.header-title {
    line-height: 60px;
    vertical-align: middle;
    font-size: 1.35em;
}

.header-sides {
    /* display: inline-block; */
    /* float: left; */
    margin: -3px 0 0 17%;
}

.header-options {
    /* float: right; */
    margin: 0 17% 0 0;


}


.header-nav ul {
    list-style-position: none;
    margin: 0;
    padding: 0;
}

.header-nav ul li {
    list-style-type: none;
    display: inline-block;
}

.header-nav ul li a {
    display: inline-block;
    line-height: 60px;
    vertical-align: middle;
    padding-left: 15px;
    padding-right: 15px;
    color: rgba(0,0,0,0.65);
}

.header-nav ul li a:hover {
    color: #2196f3;
}

.header-nav ul li a.active {
    color: #2196f3;
}